/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/editor/components/Stack/stack.css ***!
  \****************************************************************************************************************************************************************************************/
:root {
  --stack-margin: 10px;
}

.stack--upysNjv855vwZqYPVwor {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stack--upysNjv855vwZqYPVwor.noChildMargin--iwsXaS1cu3Qrt7UDCNfB {
  --stack-margin: 0px;
}
.stack--upysNjv855vwZqYPVwor.marginBottom--ytP38tNSF4fTMI9lXlkm {
  margin-bottom: 20px;
}
.stack--upysNjv855vwZqYPVwor.marginTop--YZSjLG2ouv4GhQ7O8IYL {
  margin-top: 20px;
}
.stack--upysNjv855vwZqYPVwor.row--C3q4u6zIlxxwb4bmXzwd {
  flex-direction: row;
}
.stack--upysNjv855vwZqYPVwor.row--C3q4u6zIlxxwb4bmXzwd > * {
  margin-left: var(--stack-margin);
  margin-right: var(--stack-margin);
}
.stack--upysNjv855vwZqYPVwor.row--C3q4u6zIlxxwb4bmXzwd > :first-child {
  margin-left: 0;
}
.stack--upysNjv855vwZqYPVwor.row--C3q4u6zIlxxwb4bmXzwd > :last-child {
  margin-right: 0;
}
.stack--upysNjv855vwZqYPVwor.col--zufNsGxwgR9nmKyg6eLv {
  flex-direction: column;
}
.stack--upysNjv855vwZqYPVwor.col--zufNsGxwgR9nmKyg6eLv > * {
  margin-top: var(--stack-margin);
  margin-bottom: var(--stack-margin);
}
.stack--upysNjv855vwZqYPVwor.col--zufNsGxwgR9nmKyg6eLv > :first-child {
  margin-top: 0;
}
.stack--upysNjv855vwZqYPVwor.col--zufNsGxwgR9nmKyg6eLv > :last-child {
  margin-bottom: 0;
}
.stack--upysNjv855vwZqYPVwor.alignStart--tbjRqmfXqQw2ISRBZB0K {
  align-items: flex-start;
}
.stack--upysNjv855vwZqYPVwor.alignEnd--VSgGDwYN5u71unlE_ZDL {
  align-items: flex-end;
}
.stack--upysNjv855vwZqYPVwor.alignStretch--YEt4TjYACA6LnMlLKihT {
  align-items: stretch;
}
.stack--upysNjv855vwZqYPVwor.alignSpaceAround--sHzKqg0a2Y1auiiqAJqm {
  align-items: space-around;
}
.stack--upysNjv855vwZqYPVwor.alignSpaceBetween--_FTFebYitty84KvmTEoq {
  align-items: space-between;
}
.stack--upysNjv855vwZqYPVwor.justifyStart--tNalNLgV6crQx9htyTj2 {
  justify-content: flex-start;
}
.stack--upysNjv855vwZqYPVwor.justifyEnd--HWerZZwJyZR8DGIAygIU {
  justify-content: flex-end;
}
.stack--upysNjv855vwZqYPVwor.justifySpaceAround--qT245whCFMdSnrhrA3wb {
  justify-content: space-around;
}
.stack--upysNjv855vwZqYPVwor.justifySpaceBetween--YXer3jP2pVPS1fHIfG0u {
  justify-content: space-between;
}
/*!******************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/community/Community.css ***!
  \******************************************************************************************************************************************************************************/
.layout--ip9WFpfxXyVJTELSyVu0 {
  width: 1200px;
  max-width: 100vw;
  box-sizing: border-box;
  padding: 30px;
  margin: auto;
}

.titleImg--Dys1wyS9_76TZuqrPUwT {
  display: inline-block;
  width: 400px;
  height: auto;
  max-width: 100%;
}

.d-inline-block {
  display: inline-block;
}

.align-center {
  text-align: center;
}

.mw-100 {
  max-width: 100%;
}

.mw-100-vw {
  max-width: 100vw;
}

.snek-red {
  color: #911d55;
  font-weight: 900;
}

.d-none {
  display: none;
}

@media (min-width: 900px) {
  .d-block-md {
    display: block;
  }
}

h1, h2, h3 {
  text-shadow: -2px 4px 1px black;
}

p {
  padding: 0 30px;
}

a {
  color: #5d8bb3;
}
a:hover {
  color: #6d9bc4;
}

@media (max-width: 899px) {
  .searchContainer--N58Aqn5opMRvp3Cvpx3N {
    justify-content: center !important;
  }
}

.searchField--ZcV0FiPQpnM5CgGu6aSC {
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 100%;
}

.searchMapInput--_ZCLjTAd7EKzoPyhKh_5 {
  padding: 7px 11px !important;
  min-width: 400px;
}
@media (max-width: 899px) {
  .searchMapInput--_ZCLjTAd7EKzoPyhKh_5 {
    min-width: auto;
    width: 100%;
    max-width: 400px;
  }
}

.mapListLoadingOverlay--gsDIT2dL5Shz0GnUJRcU {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4666666667);
  margin: 0 !important;
}

.mapList--UYnUBYQQ2CNWZLInuX6j {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */
  grid-template-rows: min-content 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
@media (max-width: 899px) {
  .mapList--UYnUBYQQ2CNWZLInuX6j {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}

.mapListEmpty--yXbuP6qoHBlzUHUt74Fh {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  background: #242627;
}

.mapImageLink--LsAq5hfhNdYJmOn1JyEA {
  text-decoration: none;
  display: inline-flex;
  min-width: 0;
}

.mapImage--AM0_3oa2bT22Dglgde_3 {
  display: inline-block;
  width: 157.5px;
  height: 157.5px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  background-size: 300px 157.5px;
  background-position: -147px 0;
}

.emptyMapImage--yT5AJ1zMcu0EFKTm3Pak {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 157.5px;
  height: 157.5px;
  flex-shrink: 0;
  background: #3b3e42;
  color: #727c83;
}

.mapImage--AM0_3oa2bT22Dglgde_3,
.emptyMapImage--yT5AJ1zMcu0EFKTm3Pak {
  cursor: pointer;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: -1px 2px 1px 2px black;
}
.mapImage--AM0_3oa2bT22Dglgde_3:hover,
.emptyMapImage--yT5AJ1zMcu0EFKTm3Pak:hover {
  filter: brightness(1.1) contrast(1.2);
}

.mapCard--NJoo7Pcq9kouaUXsjKVn {
  background: #2b2f32;
  border-radius: 4px;
  padding-left: 20px;
  margin: auto;
  margin-left: 0;
  border: 2px solid transparent;
  box-shadow: 0px 3px 2px 2px black;
}
.mapCard--NJoo7Pcq9kouaUXsjKVn:hover {
  border-color: white;
}
.mapCard--NJoo7Pcq9kouaUXsjKVn:hover .mapImage--AM0_3oa2bT22Dglgde_3, .mapCard--NJoo7Pcq9kouaUXsjKVn:hover .emptyMapImage--yT5AJ1zMcu0EFKTm3Pak {
  filter: brightness(1.1) contrast(1.2);
}

.mapCardInfo--RMX9QW4pS3Y3F6IM1CAz {
  width: 200px;
  min-width: 0;
  text-overflow: ellipsis;
  word-break: break-word;
}
.mapCardInfo--RMX9QW4pS3Y3F6IM1CAz > .name--LU9i2g6GD_o3eAAW9xjI {
  color: #e6cc8a;
  font-family: "MiniMOOD", "VT323", monospace;
  font-size: 0.9em;
}
.mapCardInfo--RMX9QW4pS3Y3F6IM1CAz > .author--gPL8KW2pCbyt8iXpcALe {
  color: #c6dbde;
  font-size: 0.9em;
}
@media (max-width: 899px) {
  .mapCardInfo--RMX9QW4pS3Y3F6IM1CAz {
    width: auto;
  }
}

@media (max-width: 899px) {
  .paginationContainer--Dy11f9FY_XRhllyhMkOR {
    flex-direction: column-reverse !important;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }
}

.pagination--gdOgp9UKMZdVAihrY7mu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b1c3cf;
}
@media (max-width: 899px) {
  .pagination--gdOgp9UKMZdVAihrY7mu {
    margin-left: 0;
    padding-left: 0;
  }
}
.pagination--gdOgp9UKMZdVAihrY7mu li {
  list-style: none;
  margin: 0 10px;
  padding: 0;
  border: solid 2px transparent;
  box-shadow: 0px 3px 2px 2px black;
  font-family: BIOSfontII, monospace;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  background: #2b3b45;
  color: #b1c3cf;
}
.pagination--gdOgp9UKMZdVAihrY7mu li > a {
  display: inline-block;
  padding: 5px 20px;
  padding-bottom: 4px;
  color: inherit;
}
.pagination--gdOgp9UKMZdVAihrY7mu .page--sS16OSrn6cB6XhKZbpgz {
  color: inherit;
}
.pagination--gdOgp9UKMZdVAihrY7mu .pageLink--umYDFzFw8WRYmwqSXqe9 {
  color: inherit;
}
.pagination--gdOgp9UKMZdVAihrY7mu .active--Dp4c1L0c46KFR35l3CXY {
  background: #9babb8;
  color: #355d6d;
}
.pagination--gdOgp9UKMZdVAihrY7mu .activeLink--K8PVIYehHK0m92cHnHQ_ {
  color: inherit;
}
.pagination--gdOgp9UKMZdVAihrY7mu .previous--tItgf8IexPZ24DGXjXA6 {
  color: inherit;
}
.pagination--gdOgp9UKMZdVAihrY7mu .previousLink--YqrfC47e90Vb1bEbtSir {
  color: inherit;
}
.pagination--gdOgp9UKMZdVAihrY7mu .next--cVx6x_S5Z5tA2371sxKv {
  color: inherit;
}
.pagination--gdOgp9UKMZdVAihrY7mu .nextLink--a0iHL_2LfMeumiP9_FBa {
  color: inherit;
}
.pagination--gdOgp9UKMZdVAihrY7mu .disabled--XkD8Z9eYnERTp5sUwR8j {
  background: #181c1f;
  color: #454647;
}
.pagination--gdOgp9UKMZdVAihrY7mu .disabled--XkD8Z9eYnERTp5sUwR8j > a {
  color: inherit !important;
}
/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/editor/components/Field/field.css ***!
  \****************************************************************************************************************************************************************************************/
.fieldContainer--wOiQ29ZJlVkIxoRZe6L8 {
  display: block;
  margin-bottom: 20px;
}

.label--gKEPiCZOVVEAPymRnX1r {
  display: block;
  color: #cfcfcf;
}

.caption--Oip7aKucVPy25716A7M1 {
  font-weight: 100;
  font-size: 0.8em;
  margin-top: 4px;
  color: #a2b0bb;
  -webkit-font-smoothing: antialiased;
}

.input--_oHfXLzBtCkuI50Iku60 {
  width: auto;
  border: none;
  padding: 3px 6px;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "BIOSfontII", "VT323", monospace;
  font-family: "Courier New", monospace;
  background: #eee;
  background: #c0cdd3;
  color: #333;
}
.input--_oHfXLzBtCkuI50Iku60.fullWidth--GZouWjhla_r1mpZGuUBR {
  width: 100%;
}
.input--_oHfXLzBtCkuI50Iku60::placeholder {
  color: #7c8a99;
  font-style: italic;
}

input[type=range] {
  width: auto;
}

.fullWidth--GZouWjhla_r1mpZGuUBR {
  width: 100%;
}

.colorInputContainer--l8fuP6keuaqhxClY8yC5 {
  position: relative;
  display: inline-block;
}

.colorPicker--ufHniX94bJbhRDFmFDCp {
  position: absolute !important;
  left: 100%;
  top: -8px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid white;
  box-shadow: -2px 2px 6px 2px black;
  z-index: 20;
}

.colorInput--iDZhutJaUnSgOR2VvZQa {
  display: block;
  padding-left: 22px;
  padding-top: 4px;
  width: 120px;
}

.colorInputHash--XwIcKxd0q0lFmJlVsrLQ {
  display: inline-block;
  position: absolute;
  left: 0px;
  height: 100%;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  box-sizing: border-box;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-family: "VT323", monospace;
  font-family: "Courier New", monospace;
  font-size: 1.1em;
  font-weight: 900;
  color: #79868f;
  background: #a6b7c3;
}

.colorInputPreview--IYHwXqi2IZXsTPWRDnQl {
  display: inline-block;
  position: absolute;
  right: 0px;
  height: 100%;
  width: 20px;
  box-sizing: content-box;
  background: #000;
  border: none;
}
.colorInputPreview--IYHwXqi2IZXsTPWRDnQl:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border: 2px solid #fff;
  z-index: 5;
}
.colorInputPreview--IYHwXqi2IZXsTPWRDnQl:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background: transparent;
  border: 2px solid #000;
  z-index: 10;
}

.sliderManualInput--Ez5hu1wLav_imlqJo1gX {
  width: 100px;
  margin-right: 2px;
}

.toggleLabel--t058ewzH_XpLH_kG5eJq {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #cfcfcf;
}

.toggleLabelText--WphnzbgeJOZuzaCCFop2 {
  margin-left: 10px;
}

input:focus-visible,
button:focus-visible {
  outline: 2px solid white;
}

input[type=range].range--RAtUGcOxDnbVq8ni3AS1 {
  color: #ddd;
  --active-track-color: #567d9d;
}

input[type=range].range--RAtUGcOxDnbVq8ni3AS1:hover::-webkit-slider-thumb,
input[type=range].range--RAtUGcOxDnbVq8ni3AS1:focus::-webkit-slider-thumb,
input[type=range].range--RAtUGcOxDnbVq8ni3AS1:active::-webkit-slider-thumb {
  /* filter: brightness(var(--brightness-hover)); */
  color: var(--active-track-color);
  cursor: grab;
}

.dropdownRoot--YnA2v24cr87RubyZmvKH {
  min-width: 200px;
}
/*!***********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/editor/components/Field/react-toggle.css ***!
  \***********************************************************************************************************************************************************************************************/
.react-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  --active-color-1: #19ab8b;
  --active-color-2: #1a8969;
  --focus-color: #0099E0;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 55px;
  height: 20px;
  padding: 0;
  border-radius: 4px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  /* background-color: #19AB27; */
  background-color: var(--active-color-1);
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  /* background-color: #128D15; */
  background-color: var(--active-color-2);
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 9px;
  opacity: 0.2;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: -3px;
  left: 1px;
  width: 26px;
  height: 26px;
  border: 1px solid #4D4D4D;
  border-radius: 2px;
  background-color: #FAFAFA;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 30px;
  /* border-color: #19AB27; */
  border-color: var(--active-color-1);
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px var(--focus-color);
  -moz-box-shadow: 0px 0px 3px 2px var(--focus-color);
  box-shadow: 0px 0px 2px 3px var(--focus-color);
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px var(--focus-color);
  -moz-box-shadow: 0px 0px 5px 5px var(--focus-color);
  box-shadow: 0px 0px 5px 5px var(--focus-color);
}
/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/editor/components/Field/react-dropdown.css ***!
  \*************************************************************************************************************************************************************************************************/
.react-select__control {
  min-width: 230px;
}

.react-select__menu {
  --dropdown-bg: #c0cdd3;
  --dropdown-bg: #e2ebf0;
  --menu-bg: #333;
  --menu-fg: #ddd;
  --hover-bg: #f2f9fc;
  --active-fg: #47a795;
  --active-bg: #e2ebf0;
  --focus-fg: #f2f9fc;
  --focus-bg: #444;
  background-color: var(--menu-bg) !important;
  color: var(--menu-fg);
}
.react-select__menu .react-select__option {
  color: var(--menu-fg);
}
.react-select__menu .react-select__option--is-focused {
  background-color: var(--focus-bg);
  color: var(--focus-fg);
}
.react-select__menu .react-select__option--is-selected {
  background-color: var(--active-bg);
  color: var(--active-fg);
}
/*!************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/editor/Editor.css ***!
  \************************************************************************************************************************************************************************/
:root {
  --editor-tile-sprite-img: url("assets/graphics/editor-tiles.png");
  --editor-tile-sprite-background-size: 800px 32px;
  --editor-tile-sprite-width: 32px;
  --editor-tile-sprite-height: 32px;
  --editor-tool-sprite-img: url("assets/graphics/editor-tools-200.png");
  --editor-tool-sprite-background-size: 864px 48px; /* width = img_width / 64 * 48 */
  --editor-tool-sprite-width: 48px;
  --editor-tool-sprite-height: 48px;
  --editor-bg-color: #111;
  --grid-bg-color-1: #263646;
  --grid-bg-color-2: #374757;
  --channel-color-yellow: #c29b4e;
  --channel-color-red: #cd6543;
  --channel-color-blue: #559bd5;
  --button-bg: #556772;
}

body, html {
  color: #fafafa;
  font-family: "BIOSfontII", "VT323", monospace;
}

canvas {
  font-family: "MiniMOOD", "VT323", monospace;
}

button:focus:before,
.button:focus:before {
  display: none;
}

button,
.button {
  border-width: 0px;
  background: var(--button-bg);
}
button:hover,
.button:hover {
  filter: brightness(1.1) contrast(1.2);
}

.disableScroll--aCRf0VahAkkwSK7uleHp {
  overflow: hidden;
}

.layout--ReHCig7x4aYPRidKBVro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199px) {
  .layout--ReHCig7x4aYPRidKBVro {
    align-items: flex-start;
  }
}

.container--mgjEIvgD0yjsHeVK2qau {
  max-width: 900px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1199px) {
  .container--mgjEIvgD0yjsHeVK2qau {
    min-width: calc(100vw - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.stack--sqCHei1yJAB5gLTj0ENn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stack--sqCHei1yJAB5gLTj0ENn.row--wG1FBW6c3fMwyGvmkKIQ {
  flex-direction: row;
}
.stack--sqCHei1yJAB5gLTj0ENn.col--wbz6j9MXY9pa6FWv5UXy {
  flex-direction: column;
}
.stack--sqCHei1yJAB5gLTj0ENn.alignStart--ChccoCPjA3_qRFMQH9NC {
  align-items: flex-start;
}
.stack--sqCHei1yJAB5gLTj0ENn.alignEnd--OWCiHGqZE6Y557xxKOl1 {
  align-items: flex-end;
}
.stack--sqCHei1yJAB5gLTj0ENn.alignStretch--LWwqQCIehZXx3KrkLXSL {
  align-items: stretch;
}
.stack--sqCHei1yJAB5gLTj0ENn.justifyStart--g21Les1ld_iJdtzqFHnV {
  justify-content: flex-start;
}
.stack--sqCHei1yJAB5gLTj0ENn.justifyEnd--crhpgt2E4uu3RS51Zy8u {
  justify-content: flex-end;
}

.mainTitle--Xm5Atp68KKskUT1M9H55 {
  font-family: "MiniMOOD", "VT323", monospace;
  font-size: 2em;
  padding-top: 15px;
  text-shadow: -1px 4px #5a572e;
  margin: 10px;
  color: aqua;
}

.editorTitle--bKH3Doj0Lg0tStRT1dhQ {
  font-family: "MiniMOOD", "VT323", monospace;
  text-shadow: -1px 4px #5a572e;
  font-size: 1.3em;
  line-height: 1em;
  padding: 0;
  margin: 0;
  transform: translateY(7px);
  margin-left: 127px;
}

.canvasContainer--gkKtSnlKC6cr3Qm4uVq6 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  min-width: 600px;
  min-height: 600px;
  font-family: "MiniMOOD", "VT323", monospace;
  color: slategray;
}

.mapBottomInfo--tzmFfhTrY7dDPxZRiEoJ,
.mapBottomDescription--vO5E4RRMHsSV_oWhNEAN,
.mapBottomShortcuts--TM7MNQrBk_MxILGD7CbQ {
  display: flex;
  justify-content: space-between;
  width: 640px;
  margin-left: 128px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Courier New", monospace;
  font-size: 0.8em;
  color: #88939b;
}
.mapBottomInfo--tzmFfhTrY7dDPxZRiEoJ .item--GZZO5VfuQXeplX0fjlG1,
.mapBottomDescription--vO5E4RRMHsSV_oWhNEAN .item--GZZO5VfuQXeplX0fjlG1,
.mapBottomShortcuts--TM7MNQrBk_MxILGD7CbQ .item--GZZO5VfuQXeplX0fjlG1 {
  margin-right: 10px;
}
.mapBottomInfo--tzmFfhTrY7dDPxZRiEoJ .item--GZZO5VfuQXeplX0fjlG1:last-child,
.mapBottomDescription--vO5E4RRMHsSV_oWhNEAN .item--GZZO5VfuQXeplX0fjlG1:last-child,
.mapBottomShortcuts--TM7MNQrBk_MxILGD7CbQ .item--GZZO5VfuQXeplX0fjlG1:last-child {
  margin-right: 0;
}
.mapBottomInfo--tzmFfhTrY7dDPxZRiEoJ .val--b0RQRO8fw8Srygs2TJkF,
.mapBottomDescription--vO5E4RRMHsSV_oWhNEAN .val--b0RQRO8fw8Srygs2TJkF,
.mapBottomShortcuts--TM7MNQrBk_MxILGD7CbQ .val--b0RQRO8fw8Srygs2TJkF {
  color: #ccc;
}

.mapBottomInfo--tzmFfhTrY7dDPxZRiEoJ {
  padding-bottom: 0;
}

.mapBottomDescription--vO5E4RRMHsSV_oWhNEAN {
  justify-content: flex-end;
  padding-top: 0;
}
.mapBottomDescription--vO5E4RRMHsSV_oWhNEAN span {
  font-size: 0.9em;
}

.mapBottomShortcuts--TM7MNQrBk_MxILGD7CbQ {
  justify-content: space-between;
  margin-bottom: 10px;
}

.gridCell--cRySkMGzgmh1rzx9FP2T {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  font-family: "BIOSfontII", "VT323", monospace;
  font-size: 0.6em;
  vertical-align: bottom;
  background: var(--grid-bg-color-1);
  color: slategray;
  user-select: none;
}
.gridCell--cRySkMGzgmh1rzx9FP2T:nth-child(2n) {
  background: var(--grid-bg-color-2);
}
.gridCell--cRySkMGzgmh1rzx9FP2T.invert--MfbavQ0Y4lbWWqGyO7og {
  background: var(--grid-bg-color-2);
}
.gridCell--cRySkMGzgmh1rzx9FP2T.invert--MfbavQ0Y4lbWWqGyO7og:nth-child(2n) {
  background: var(--grid-bg-color-1);
}
.gridCell--cRySkMGzgmh1rzx9FP2T.active--Rx0uKlzWxhXt775otXDz, .gridCell--cRySkMGzgmh1rzx9FP2T.active--Rx0uKlzWxhXt775otXDz:nth-child(2n) {
  background: #eee;
  color: #333;
}

.editorContainer--ENTR6wcPTWMibftElOiG {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background: var(--editor-bg-color);
  border-radius: 6px;
  /* margin-top: 20px; */
}

.editorTiles--Hq5BSL0pyHt1BykrWiEo {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  z-index: 10;
}
.editorTiles--Hq5BSL0pyHt1BykrWiEo .tooltip--hhnwyl4eDqRe7BPHpfod {
  display: none !important;
  right: 100%;
  left: inherit;
  top: 4px;
  bottom: inherit;
  margin-right: 4px;
  filter: none;
}
.editorTiles--Hq5BSL0pyHt1BykrWiEo .shortcut--CB3s5zGZnWGss3q8QeWK {
  font-family: "VT323", monospace;
  font-size: 0.7em;
  color: #5b5b5b;
  margin-right: 3px;
}

.editorTileSprite--BOwAf1aHSgWsPsNAsMH5 {
  display: inline-block;
  background-color: inherit;
  background-image: var(--editor-tile-sprite-img);
  background-size: var(--editor-tile-sprite-background-size);
  width: var(--editor-tile-sprite-width);
  height: var(--editor-tile-sprite-height);
  padding: 0px;
  margin: 1px;
  margin-bottom: 3px;
  border-radius: 0px;
  border: none;
  background-position: 0px 0px;
  filter: brightness(0.25) grayscale(0.5);
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5:hover {
  filter: brightness(0.75) grayscale(0.8);
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5:hover .tooltip--hhnwyl4eDqRe7BPHpfod {
  display: block !important;
  filter: none;
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.active--Rx0uKlzWxhXt775otXDz {
  filter: none;
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.barrier--II3y_NkMhpjxgvLYV4BA {
  background-position-x: calc(0 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.passable--Ae5be2KlaOX7xY2DTRuA {
  background-position-x: calc(-1 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.door--_iu3WvS3xft_pzejugJR {
  background-position-x: calc(-2 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.deco1--pP_RUrEjgAuPJPQsTuke {
  background-position-x: calc(-3 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.deco2--AhM_Dmqayh2bel0p38sr {
  background-position-x: calc(-4 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.apple--aFYkgE0kn91i3HSdzJ7o {
  background-position-x: calc(-5 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.nospawn--zQQX8UzNGJKcSmSjD0a0 {
  background-position-x: calc(-6 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.lock--HfSHRriA2VJ6Svm3jLLd {
  background-position-x: calc(-7 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.key--uih4pdWlKE_JOcwxXRiW {
  background-position-x: calc(-8 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.portal--OwWUc3knYnLI4fhnzXlS {
  background-position-x: calc(-9 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.spawn--yiI5twIbN4c1RfklRKIw {
  background-position-x: calc(-10 * var(--editor-tile-sprite-width));
}

.editorTools--Fu76dOpda_BOyhBLRQfj {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3px;
  width: 100%;
}
.editorTools--Fu76dOpda_BOyhBLRQfj .tooltip--hhnwyl4eDqRe7BPHpfod {
  display: none !important;
  top: 100%;
  left: inherit;
  right: inherit;
  bottom: inherit;
  z-index: 100;
  min-width: initial;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  margin-top: 3px;
}
.editorTools--Fu76dOpda_BOyhBLRQfj .tooltip--hhnwyl4eDqRe7BPHpfod.red--wEygRg1k8XUnwph4qBiT {
  color: #f80;
}

.editorToolsOffset--qlJ88ChmC6PumZ5xu9nC {
  margin-left: 39px;
}

.editorToolSprite--rrVuT_GoHCoa28eSjhhT {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  background-color: inherit;
  background-image: var(--editor-tool-sprite-img);
  background-size: var(--editor-tool-sprite-background-size);
  width: var(--editor-tool-sprite-width);
  height: var(--editor-tool-sprite-height);
  padding: 0px;
  margin: 3px;
  border-radius: 0px;
  border: none;
  background-position: 0px 0px;
  filter: brightness(0.5) grayscale(0.5);
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.active--Rx0uKlzWxhXt775otXDz {
  filter: none;
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT:hover {
  filter: none;
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT:hover .tooltip--hhnwyl4eDqRe7BPHpfod {
  display: block !important;
  filter: none;
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.pencil--q_wv12mnGW9ldaRJ2HtS.active--Rx0uKlzWxhXt775otXDz {
  background-position-x: calc(0 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.pencil--q_wv12mnGW9ldaRJ2HtS {
  background-position-x: calc(-1 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.eraser--_rTXZogDNhUFeJ8E46qV.active--Rx0uKlzWxhXt775otXDz {
  background-position-x: calc(-2 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.eraser--_rTXZogDNhUFeJ8E46qV {
  background-position-x: calc(-3 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.rectangle--P5epVOQKCeBY41JqFpa7.active--Rx0uKlzWxhXt775otXDz {
  background-position-x: calc(-4 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.rectangle--P5epVOQKCeBY41JqFpa7 {
  background-position-x: calc(-5 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.line--vIXHkrBWfwTGXJFGHo_w.active--Rx0uKlzWxhXt775otXDz {
  background-position-x: calc(-6 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.line--vIXHkrBWfwTGXJFGHo_w {
  background-position-x: calc(-7 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.bucket--iQ7ILmKpHNRnkp_JV9UY.active--Rx0uKlzWxhXt775otXDz {
  background-position-x: calc(-16 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.bucket--iQ7ILmKpHNRnkp_JV9UY {
  background-position-x: calc(-17 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.bomb--soCwJPeLmG4X9aZSFYuK.active--Rx0uKlzWxhXt775otXDz, .editorToolSprite--rrVuT_GoHCoa28eSjhhT.bomb--soCwJPeLmG4X9aZSFYuK:active, .editorToolSprite--rrVuT_GoHCoa28eSjhhT.bomb--soCwJPeLmG4X9aZSFYuK:focus, .editorToolSprite--rrVuT_GoHCoa28eSjhhT.bomb--soCwJPeLmG4X9aZSFYuK:hover {
  background-position-x: calc(-10 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.bomb--soCwJPeLmG4X9aZSFYuK {
  background-position-x: calc(-11 * var(--editor-tool-sprite-width));
  filter: none;
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.undo--ckfvUXMjUxs7bMXBGQvb.hasUndo--RwlDW1Ty9aJXt8xIzJQy:hover {
  background-position-x: calc(-12 * var(--editor-tool-sprite-width));
  filter: none;
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.undo--ckfvUXMjUxs7bMXBGQvb {
  background-position-x: calc(-13 * var(--editor-tool-sprite-width));
  margin-left: 20px;
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.undo--ckfvUXMjUxs7bMXBGQvb.hasUndo--RwlDW1Ty9aJXt8xIzJQy {
  filter: none;
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.undo--ckfvUXMjUxs7bMXBGQvb:hover {
  filter: brightness(0.5) grayscale(0.5);
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.redo--vWvu9qAZfrUBzdgMr5_b.hasRedo--kSvrJ2M68bhnWymYIFy6:hover {
  background-position-x: calc(-14 * var(--editor-tool-sprite-width));
  filter: none;
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.redo--vWvu9qAZfrUBzdgMr5_b {
  background-position-x: calc(-15 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.redo--vWvu9qAZfrUBzdgMr5_b.hasRedo--kSvrJ2M68bhnWymYIFy6 {
  filter: none;
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.redo--vWvu9qAZfrUBzdgMr5_b:hover {
  filter: brightness(0.5) grayscale(0.5);
}

.editorTileSidebar--uuBQITMXZKkc6enfJglp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  width: 70px;
  text-align: center;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp > div {
  display: flex;
  flex-direction: column;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp label {
  font-family: "BIOSfontII", "VT323", monospace;
  font-size: 1em;
  color: #fff;
  color: #bcc2c2;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp button {
  font-family: "MiniMOOD", "VT323", monospace;
  font-size: 1em;
  display: inline-block;
  margin: 3px;
  padding-top: 6px;
  padding-bottom: 0;
  border: 2px solid transparent;
  filter: brightness(0.5) grayscale(1);
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp button:hover {
  filter: brightness(0.8) grayscale(0.8);
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp button.active--Rx0uKlzWxhXt775otXDz {
  filter: none;
  border-color: #fff;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelSelect--uJO08ugv7fMOjt5ah3uA.active--Rx0uKlzWxhXt775otXDz > button {
  filter: none;
  border-color: #fff;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelYellow--TERcbRspRQOJggSOl1qk.active--Rx0uKlzWxhXt775otXDz > button {
  background-color: var(--channel-color-yellow);
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelRed--FHF3THUet6Rw4KdLc9yQ.active--Rx0uKlzWxhXt775otXDz > button {
  background-color: var(--channel-color-red);
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelBlue--uwL_pnIjoG7wvAk_Mnjl.active--Rx0uKlzWxhXt775otXDz > button {
  background-color: var(--channel-color-blue);
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelYellow--TERcbRspRQOJggSOl1qk .keyChannelColorPreview--Gx27TptNDff0efwHFwTX {
  background-color: var(--channel-color-yellow);
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelRed--FHF3THUet6Rw4KdLc9yQ .keyChannelColorPreview--Gx27TptNDff0efwHFwTX {
  background-color: var(--channel-color-red);
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelBlue--uwL_pnIjoG7wvAk_Mnjl .keyChannelColorPreview--Gx27TptNDff0efwHFwTX {
  background-color: var(--channel-color-blue);
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp button.portalChannel--OnhKgW3hqw_NDiLDBTTx, .editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelSelect--uJO08ugv7fMOjt5ah3uA > button {
  color: #fff;
  padding-left: 25px;
  padding-right: 15px;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp button.portalChannel--OnhKgW3hqw_NDiLDBTTx.active--Rx0uKlzWxhXt775otXDz {
  color: #111;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .portalChannelSelect--X4ZQlBKi5hRstqq7CJgT, .editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelSelect--uJO08ugv7fMOjt5ah3uA {
  position: relative;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .portalChannelColorPreview--i7T4LHCWLNg9a1wmy6IC, .editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelColorPreview--Gx27TptNDff0efwHFwTX {
  position: absolute;
  width: 10px;
  height: 20px;
  top: 8px;
  left: 15px;
  z-index: 10;
  border-radius: 2px;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelSelect--uJO08ugv7fMOjt5ah3uA.active--Rx0uKlzWxhXt775otXDz .keyChannelColorPreview--Gx27TptNDff0efwHFwTX {
  background-color: rgba(17, 17, 17, 0.1);
}

.previewMapButton--eDzPwZzzY41wal5B7qCm {
  margin-left: 40px;
}

.modalOverlay--nS76wrRfZOQYvBkoZPlQ,
.mapPreviewOverlay--ICT56LhL1wdePiwl03Po {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.modalLayout--TA_l6aQX1mtpUoH7ZSI6,
.mapPreviewLayout--q8h24nLIAMGqLZDvoO2x {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.modalContainer--vpT3Wt5yvGfvHyx7eVk_,
.mapPreviewContainer--ZVFMtpo3D2szcNJrqgCK {
  position: relative;
  display: flex;
  padding: 2px;
  background: black;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: -2px 2px 4px 2px black;
}
.modalContainer--vpT3Wt5yvGfvHyx7eVk_ .closeButton--Mrw9b4gd4ci7rT9tw5dq,
.mapPreviewContainer--ZVFMtpo3D2szcNJrqgCK .closeButton--Mrw9b4gd4ci7rT9tw5dq {
  position: absolute;
  display: inline-block;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  padding: 3px;
  box-sizing: content-box;
}

.modalContainer--vpT3Wt5yvGfvHyx7eVk_ {
  overflow-y: auto;
  max-height: 100vh;
}

.mapPreviewContainer--ZVFMtpo3D2szcNJrqgCK {
  width: 1200px;
  height: 1200px;
  transform: scale(0.5);
  transform-origin: center center;
}
.mapPreviewContainer--ZVFMtpo3D2szcNJrqgCK .closeButton--Mrw9b4gd4ci7rT9tw5dq {
  transform: scale(2);
  transform-origin: top right;
}
.mapPreviewContainer--ZVFMtpo3D2szcNJrqgCK .fullscreenButton--lQpHU5dj2azUM7Yn8O7n {
  position: absolute;
  display: inline-block;
  top: 100%;
  margin-top: 6px;
  right: -2px;
  width: 48px;
  height: 48px;
  padding: 0px;
  box-sizing: content-box;
  /* border: 2px solid #ffffff5c; */
  border: 2px solid #91a3c3;
  transform: scale(2);
  transform-origin: top right;
}
.mapPreviewContainer--ZVFMtpo3D2szcNJrqgCK .fullscreenButton--lQpHU5dj2azUM7Yn8O7n:hover {
  border-color: #fff;
}
.mapPreviewContainer--ZVFMtpo3D2szcNJrqgCK .fullscreenButton--lQpHU5dj2azUM7Yn8O7n img {
  width: 100%;
  height: 100%;
}

.mapPreview--EaLOp2itWkRlQeb7rMmZ {
  display: block;
  border: none;
  /* transform: scale(0.5);
  transform-origin: top left; */
}

.loader--awTK9275tWntLuG0HGxO {
  position: relative;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0);
  background-size: 5px 40px;
  background-position: 0px center, 10px center, 20px center, 30px center, 40px center, 50px center;
  animation: loaderSpikeUp--ul1JTL1K8Bili0YpcAyi 1s linear infinite alternate;
}

@keyframes loaderSpikeUp--ul1JTL1K8Bili0YpcAyi {
  0% {
    background-size: 5px 40px;
  }
  16% {
    background-size: 5px 55px, 5px 40px, 5px 40px, 5px 40px, 5px 40px, 5px 40px;
  }
  33% {
    background-size: 5px 40px, 5px 55px, 5px 40px, 5px 40px, 5px 40px, 5px 40px;
  }
  50% {
    background-size: 5px 40px, 5px 40px, 5px 55px, 5px 40px, 5px 40px, 5px 40px;
  }
  66% {
    background-size: 5px 40px, 5px 40px, 5px 40px, 5px 55px, 5px 40px, 5px 40px;
  }
  83% {
    background-size: 5px 40px, 5px 40px, 5px 40px, 5px 40px, 5px 55px, 5px 40px;
  }
  100% {
    background-size: 5px 40px, 5px 40px, 5px 40px, 5px 40px, 5px 40px, 5px 55px;
  }
}
.loader30--NMpQi1L46gxgrIBJmykg {
  --lg0: 15px;
  --lg1: 25px;
  --lg2: 30px;
  position: relative;
  width: 55px;
  height: var(--lg2);
  background-repeat: no-repeat;
  background-image: linear-gradient(#FFF var(--lg1), transparent 0), linear-gradient(#FFF var(--lg1), transparent 0), linear-gradient(#FFF var(--lg1), transparent 0), linear-gradient(#FFF var(--lg1), transparent 0), linear-gradient(#FFF var(--lg1), transparent 0), linear-gradient(#FFF var(--lg1), transparent 0);
  background-size: 5px var(--lg0);
  background-position: 0px center, 10px center, 20px center, 30px center, 40px center, 50px center;
  animation: loaderSpikeUp--ul1JTL1K8Bili0YpcAyi 1s linear infinite alternate;
}

@keyframes loaderSpikeUp--ul1JTL1K8Bili0YpcAyi {
  0% {
    background-size: 5px var(--lg0);
  }
  16% {
    background-size: 5px var(--lg2), 5px var(--lg0), 5px var(--lg0), 5px var(--lg0), 5px var(--lg0), 5px var(--lg0);
  }
  33% {
    background-size: 5px var(--lg0), 5px var(--lg2), 5px var(--lg0), 5px var(--lg0), 5px var(--lg0), 5px var(--lg0);
  }
  50% {
    background-size: 5px var(--lg0), 5px var(--lg0), 5px var(--lg2), 5px var(--lg0), 5px var(--lg0), 5px var(--lg0);
  }
  66% {
    background-size: 5px var(--lg0), 5px var(--lg0), 5px var(--lg0), 5px var(--lg2), 5px var(--lg0), 5px var(--lg0);
  }
  83% {
    background-size: 5px var(--lg0), 5px var(--lg0), 5px var(--lg0), 5px var(--lg0), 5px var(--lg2), 5px var(--lg0);
  }
  100% {
    background-size: 5px var(--lg0), 5px var(--lg0), 5px var(--lg0), 5px var(--lg0), 5px var(--lg0), 5px var(--lg2);
  }
}
.toastContainer--ru0uhfkCPOHBs8kSEcWt {
  font-family: "BIOSfontII", "VT323", monospace;
}

.toast--K_UvZx9GagKEh0pOflE_,
.toastSuccess--bYrBfSKoLIGUWt4kjvwS,
.toastError--MRAVNkq665eP5BnXd2AO,
.toastUndo--BaYjNl72XpL18W2JAIJS,
.toastRedo--RDdn8lQZWinrUO2oN9Hl {
  box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.31);
}

.toast--K_UvZx9GagKEh0pOflE_ {
  font-family: "BIOSfontII", "VT323", monospace;
}

.toastSuccess--bYrBfSKoLIGUWt4kjvwS {
  background: #7ad9cd !important;
}

.toastError--MRAVNkq665eP5BnXd2AO {
  background: #eba895 !important;
}

.toastUndo--BaYjNl72XpL18W2JAIJS {
  background: #000 !important;
  color: #ddd !important;
}

.toastRedo--RDdn8lQZWinrUO2oN9Hl {
  background: #000 !important;
  color: #7ad9cd !important;
}

button.allMapsButton--N5xVXHYdnpqnHxq1zXiJ,
a.button.allMapsButton--N5xVXHYdnpqnHxq1zXiJ {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1em;
  padding: 10px 20px;
  background: #292b2d;
}
button.allMapsButton--N5xVXHYdnpqnHxq1zXiJ > span,
a.button.allMapsButton--N5xVXHYdnpqnHxq1zXiJ > span {
  display: inline-block;
  transform: translateY(4px);
}
button.allMapsButton--N5xVXHYdnpqnHxq1zXiJ:hover,
a.button.allMapsButton--N5xVXHYdnpqnHxq1zXiJ:hover {
  background: #556772;
  /* background: #babebf;
  color: #46657a; */
  background: #455863;
}
