/*!************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/editor/Editor.css ***!
  \************************************************************************************************************************************************************************/
:root {
  --editor-tile-sprite-img: url("assets/graphics/editor-tiles.png");
  --editor-tile-sprite-background-size: 800px 32px;
  --editor-tile-sprite-width: 32px;
  --editor-tile-sprite-height: 32px;
  --editor-tool-sprite-img: url("assets/graphics/editor-tools-200.png");
  --editor-tool-sprite-background-size: 480px 48px;
  --editor-tool-sprite-width: 48px;
  --editor-tool-sprite-height: 48px;
  --editor-bg-color: #111;
  --grid-bg-color-1: #263646;
  --grid-bg-color-2: #374757;
  --channel-color-yellow: #c29b4e;
  --channel-color-red: #cd6543;
  --channel-color-blue: #559bd5;
}

body, html {
  color: #fafafa;
  font-family: "BIOSfontII", "VT323", monospace;
}

canvas {
  font-family: "MiniMOOD", "VT323", monospace;
}

button:focus:before {
  display: none;
}

button {
  border-width: 0px;
}

.layout--ReHCig7x4aYPRidKBVro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199px) {
  .layout--ReHCig7x4aYPRidKBVro {
    align-items: flex-start;
  }
}

.container--mgjEIvgD0yjsHeVK2qau {
  max-width: 900px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1199px) {
  .container--mgjEIvgD0yjsHeVK2qau {
    min-width: calc(100vw - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.stack--sqCHei1yJAB5gLTj0ENn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stack--sqCHei1yJAB5gLTj0ENn.row--wG1FBW6c3fMwyGvmkKIQ {
  flex-direction: row;
}
.stack--sqCHei1yJAB5gLTj0ENn.col--wbz6j9MXY9pa6FWv5UXy {
  flex-direction: column;
}
.stack--sqCHei1yJAB5gLTj0ENn.alignStart--ChccoCPjA3_qRFMQH9NC {
  align-items: flex-start;
}
.stack--sqCHei1yJAB5gLTj0ENn.alignEnd--OWCiHGqZE6Y557xxKOl1 {
  align-items: flex-end;
}
.stack--sqCHei1yJAB5gLTj0ENn.alignStretch--LWwqQCIehZXx3KrkLXSL {
  align-items: stretch;
}
.stack--sqCHei1yJAB5gLTj0ENn.justifyStart--g21Les1ld_iJdtzqFHnV {
  justify-content: flex-start;
}
.stack--sqCHei1yJAB5gLTj0ENn.justifyEnd--crhpgt2E4uu3RS51Zy8u {
  justify-content: flex-end;
}

.mainTitle--Xm5Atp68KKskUT1M9H55 {
  font-family: "MiniMOOD", "VT323", monospace;
  font-size: 2em;
  padding-top: 15px;
  text-shadow: -1px 4px #5a572e;
  margin: 10px;
  color: aqua;
}

.editorTitle--bKH3Doj0Lg0tStRT1dhQ {
  font-family: "MiniMOOD", "VT323", monospace;
  text-shadow: -1px 4px #5a572e;
  font-size: 1.3em;
  line-height: 1em;
  padding: 0;
  margin: 0;
  transform: translateY(7px);
  margin-left: 127px;
}

.canvasContainer--gkKtSnlKC6cr3Qm4uVq6 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 600px;
  min-height: 600px;
  font-family: "MiniMOOD", "VT323", monospace;
  color: slategray;
}

.gridCell--cRySkMGzgmh1rzx9FP2T {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  font-family: "BIOSfontII", "VT323", monospace;
  font-size: 0.6em;
  vertical-align: bottom;
  background: var(--grid-bg-color-1);
  color: slategray;
}
.gridCell--cRySkMGzgmh1rzx9FP2T:nth-child(2n) {
  background: var(--grid-bg-color-2);
}
.gridCell--cRySkMGzgmh1rzx9FP2T.invert--MfbavQ0Y4lbWWqGyO7og {
  background: var(--grid-bg-color-2);
}
.gridCell--cRySkMGzgmh1rzx9FP2T.invert--MfbavQ0Y4lbWWqGyO7og:nth-child(2n) {
  background: var(--grid-bg-color-1);
}
.gridCell--cRySkMGzgmh1rzx9FP2T.active--Rx0uKlzWxhXt775otXDz, .gridCell--cRySkMGzgmh1rzx9FP2T.active--Rx0uKlzWxhXt775otXDz:nth-child(2n) {
  background: #eee;
  color: #333;
}

.editorContainer--ENTR6wcPTWMibftElOiG {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  background: var(--editor-bg-color);
  border-radius: 6px;
  /* margin-top: 20px; */
}

.editorTiles--Hq5BSL0pyHt1BykrWiEo {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  z-index: 10;
}
.editorTiles--Hq5BSL0pyHt1BykrWiEo .tooltip--hhnwyl4eDqRe7BPHpfod {
  display: none !important;
  right: 100%;
  left: inherit;
  top: 4px;
  bottom: inherit;
  margin-right: 4px;
  filter: none;
}
.editorTiles--Hq5BSL0pyHt1BykrWiEo .shortcut--CB3s5zGZnWGss3q8QeWK {
  font-family: "VT323", monospace;
  font-size: 0.7em;
  color: #5b5b5b;
  margin-right: 3px;
}

.editorTileSprite--BOwAf1aHSgWsPsNAsMH5 {
  display: inline-block;
  background-color: inherit;
  background-image: var(--editor-tile-sprite-img);
  background-size: var(--editor-tile-sprite-background-size);
  width: var(--editor-tile-sprite-width);
  height: var(--editor-tile-sprite-height);
  padding: 0px;
  margin: 1px;
  margin-bottom: 3px;
  border-radius: 0px;
  border: none;
  background-position: 0px 0px;
  filter: brightness(0.25) grayscale(0.5);
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5:hover {
  filter: brightness(0.75) grayscale(0.8);
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5:hover .tooltip--hhnwyl4eDqRe7BPHpfod {
  display: block !important;
  filter: none;
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.active--Rx0uKlzWxhXt775otXDz {
  filter: none;
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.barrier--II3y_NkMhpjxgvLYV4BA {
  background-position-x: calc(0 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.passable--Ae5be2KlaOX7xY2DTRuA {
  background-position-x: calc(-1 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.door--_iu3WvS3xft_pzejugJR {
  background-position-x: calc(-2 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.deco1--pP_RUrEjgAuPJPQsTuke {
  background-position-x: calc(-3 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.deco2--AhM_Dmqayh2bel0p38sr {
  background-position-x: calc(-4 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.apple--aFYkgE0kn91i3HSdzJ7o {
  background-position-x: calc(-5 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.nospawn--zQQX8UzNGJKcSmSjD0a0 {
  background-position-x: calc(-6 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.lock--HfSHRriA2VJ6Svm3jLLd {
  background-position-x: calc(-7 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.key--uih4pdWlKE_JOcwxXRiW {
  background-position-x: calc(-8 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.portal--OwWUc3knYnLI4fhnzXlS {
  background-position-x: calc(-9 * var(--editor-tile-sprite-width));
}
.editorTileSprite--BOwAf1aHSgWsPsNAsMH5.spawn--yiI5twIbN4c1RfklRKIw {
  background-position-x: calc(-10 * var(--editor-tile-sprite-width));
}

.editorTools--Fu76dOpda_BOyhBLRQfj {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3px;
  width: 100%;
}

.editorToolsOffset--qlJ88ChmC6PumZ5xu9nC {
  margin-left: 39px;
}

.editorToolSprite--rrVuT_GoHCoa28eSjhhT {
  display: inline-block;
  background-color: inherit;
  background-image: var(--editor-tool-sprite-img);
  background-size: var(--editor-tool-sprite-background-size);
  width: var(--editor-tool-sprite-width);
  height: var(--editor-tool-sprite-height);
  padding: 0px;
  margin: 3px;
  border-radius: 0px;
  border: none;
  background-position: 0px 0px;
  filter: brightness(0.5) grayscale(0.5);
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.active--Rx0uKlzWxhXt775otXDz {
  filter: none;
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT:hover {
  filter: none;
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.pencil--q_wv12mnGW9ldaRJ2HtS.active--Rx0uKlzWxhXt775otXDz {
  background-position-x: calc(0 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.pencil--q_wv12mnGW9ldaRJ2HtS {
  background-position-x: calc(-1 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.eraser--_rTXZogDNhUFeJ8E46qV.active--Rx0uKlzWxhXt775otXDz {
  background-position-x: calc(-2 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.eraser--_rTXZogDNhUFeJ8E46qV {
  background-position-x: calc(-3 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.rectangle--P5epVOQKCeBY41JqFpa7.active--Rx0uKlzWxhXt775otXDz {
  background-position-x: calc(-4 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.rectangle--P5epVOQKCeBY41JqFpa7 {
  background-position-x: calc(-5 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.line--vIXHkrBWfwTGXJFGHo_w.active--Rx0uKlzWxhXt775otXDz {
  background-position-x: calc(-6 * var(--editor-tool-sprite-width));
}
.editorToolSprite--rrVuT_GoHCoa28eSjhhT.line--vIXHkrBWfwTGXJFGHo_w {
  background-position-x: calc(-7 * var(--editor-tool-sprite-width));
}

.editorTileSidebar--uuBQITMXZKkc6enfJglp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  width: 70px;
  text-align: center;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp > div {
  display: flex;
  flex-direction: column;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp label {
  font-family: "BIOSfontII", "VT323", monospace;
  font-size: 1em;
  color: #fff;
  color: #bcc2c2;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp button {
  font-family: "MiniMOOD", "VT323", monospace;
  font-size: 1em;
  display: inline-block;
  margin: 3px;
  padding-top: 6px;
  padding-bottom: 0;
  border: 2px solid transparent;
  filter: brightness(0.5) grayscale(1);
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp button:hover {
  filter: brightness(0.8) grayscale(0.8);
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp button.active--Rx0uKlzWxhXt775otXDz {
  filter: none;
  border-color: #fff;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelSelect--uJO08ugv7fMOjt5ah3uA.active--Rx0uKlzWxhXt775otXDz > button {
  filter: none;
  border-color: #fff;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelYellow--TERcbRspRQOJggSOl1qk.active--Rx0uKlzWxhXt775otXDz > button {
  background-color: var(--channel-color-yellow);
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelRed--FHF3THUet6Rw4KdLc9yQ.active--Rx0uKlzWxhXt775otXDz > button {
  background-color: var(--channel-color-red);
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelBlue--uwL_pnIjoG7wvAk_Mnjl.active--Rx0uKlzWxhXt775otXDz > button {
  background-color: var(--channel-color-blue);
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelYellow--TERcbRspRQOJggSOl1qk .keyChannelColorPreview--Gx27TptNDff0efwHFwTX {
  background-color: var(--channel-color-yellow);
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelRed--FHF3THUet6Rw4KdLc9yQ .keyChannelColorPreview--Gx27TptNDff0efwHFwTX {
  background-color: var(--channel-color-red);
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelBlue--uwL_pnIjoG7wvAk_Mnjl .keyChannelColorPreview--Gx27TptNDff0efwHFwTX {
  background-color: var(--channel-color-blue);
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp button.portalChannel--OnhKgW3hqw_NDiLDBTTx, .editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelSelect--uJO08ugv7fMOjt5ah3uA > button {
  color: #fff;
  padding-left: 25px;
  padding-right: 15px;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp button.portalChannel--OnhKgW3hqw_NDiLDBTTx.active--Rx0uKlzWxhXt775otXDz {
  color: #111;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .portalChannelSelect--X4ZQlBKi5hRstqq7CJgT, .editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelSelect--uJO08ugv7fMOjt5ah3uA {
  position: relative;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .portalChannelColorPreview--i7T4LHCWLNg9a1wmy6IC, .editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelColorPreview--Gx27TptNDff0efwHFwTX {
  position: absolute;
  width: 10px;
  height: 20px;
  top: 8px;
  left: 15px;
  z-index: 10;
  border-radius: 2px;
}
.editorTileSidebar--uuBQITMXZKkc6enfJglp .keyChannelSelect--uJO08ugv7fMOjt5ah3uA.active--Rx0uKlzWxhXt775otXDz .keyChannelColorPreview--Gx27TptNDff0efwHFwTX {
  background-color: rgba(17, 17, 17, 0.1);
}

.loader--awTK9275tWntLuG0HGxO {
  position: relative;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0);
  background-size: 5px 40px;
  background-position: 0px center, 10px center, 20px center, 30px center, 40px center, 50px center;
  animation: loaderSpikeUp--ul1JTL1K8Bili0YpcAyi 1s linear infinite alternate;
}

@keyframes loaderSpikeUp--ul1JTL1K8Bili0YpcAyi {
  0% {
    background-size: 5px 40px;
  }
  16% {
    background-size: 5px 55px, 5px 40px, 5px 40px, 5px 40px, 5px 40px, 5px 40px;
  }
  33% {
    background-size: 5px 40px, 5px 55px, 5px 40px, 5px 40px, 5px 40px, 5px 40px;
  }
  50% {
    background-size: 5px 40px, 5px 40px, 5px 55px, 5px 40px, 5px 40px, 5px 40px;
  }
  66% {
    background-size: 5px 40px, 5px 40px, 5px 40px, 5px 55px, 5px 40px, 5px 40px;
  }
  83% {
    background-size: 5px 40px, 5px 40px, 5px 40px, 5px 40px, 5px 55px, 5px 40px;
  }
  100% {
    background-size: 5px 40px, 5px 40px, 5px 40px, 5px 40px, 5px 40px, 5px 55px;
  }
}
.toastContainer--ru0uhfkCPOHBs8kSEcWt {
  font-family: "BIOSfontII", "VT323", monospace;
}

.toast--K_UvZx9GagKEh0pOflE_ {
  font-family: "BIOSfontII", "VT323", monospace;
}

.toastSuccess--bYrBfSKoLIGUWt4kjvwS {
  background: #7ad9cd !important;
}

.toastError--MRAVNkq665eP5BnXd2AO {
  background: #eba895 !important;
}
/*!*********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/editor/EditorOptions/EditorOptions.css ***!
  \*********************************************************************************************************************************************************************************************/
.editorOptionsContainer--_SrdHgosycAqwymR2NjY {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-right: 20px;
}

.form--EY1peu6zuvOdoxcc2WOu {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.error--uJkDEcEJHzCyg5Bkk8yN {
  color: #a40;
}

textarea {
  background: #4c4c4c;
  color: #eee;
  font-family: "Courier New", monospace;
}
/*!**************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/editor/components/Tabs/tabs.css ***!
  \**************************************************************************************************************************************************************************************/
:root {
  --tab-panel-bg: #232729;
  --tab-inactive: #111;
}

.tab--RhQjnKCds0T1dm6pYFvS {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 2px;
  background: var(--tab-inactive);
  color: #aaa;
}
.tab--RhQjnKCds0T1dm6pYFvS.active--QANdeuH0yzHa3iFcV3wU {
  padding-top: 10px;
  background: cyan;
  background: var(--tab-panel-bg);
  color: white;
}
.tab--RhQjnKCds0T1dm6pYFvS.active--QANdeuH0yzHa3iFcV3wU:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--tab-panel-bg);
}

.tabList--_ybzOXpiihRgBla5aH4X {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.tabPanel--dY3exUrGTRVZCvKg6bz2 {
  display: block;
  padding: 20px;
  background: var(--tab-panel-bg);
  box-shadow: -2px 3px 2px 2px #000;
}
