html, body {
  margin: 0;
  padding: 0;
  background: #000;

  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  padding-top: 20px;
}

canvas {
  display: block;
  cursor: crosshair;
}

main {
  position: relative;
}

main div {
  cursor: crosshair
}

p {
  font-family: 'VT323', monospace;
  text-shadow: 0px 3px 3px black;
}

button {
  padding: 5px 20px;
  border-radius: 10px;
  background: #cdeaff;
  color: #111;
  border: none;
  box-shadow: 0px 3px 2px 2px black;
  font-family: 'VT323', monospace;
  font-size: 1.2em;
}

button:hover,
button:active,
button:focus
{
  background-color: #dbd57a;
}
