
hr {
  border-color: #4e4f59;
  border-style: solid;
  margin: 20px 0;
}

p {
  display: block;
}

.editorOptionsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-right: 20px;
}

.form {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.error {
  color: #a40;
}

textarea {
  background: #4c4c4c;
  color: #eee;
  font-family: "Courier New", monospace;
}

.loadPaletteButton {
  margin-bottom: 20px;;
}

.selectPaletteContainer {
  position: relative;
}

.selectPaletteTitle {
  margin-top: 0;
  margin-bottom: 10px;
}

.closeButton {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  padding: 3px;
  box-sizing: content-box;
}

.paletteButton {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.paletteName {
  display: inline-block;
  min-width: 180px;
  padding: 0;
  margin: 0;
  transform: translateY(5px);
  font-family: 'MiniMOOD', 'VT323', monospace;
  font-size: 0.8em;
  text-align: left;
}

.paletteComponent {
  display: inline-block;
  width: 10px;
  height: 20px;
}

.buttonLoadLevel {
  margin-top: 10px;
}

.buttonPlay,
.buttonStop {
  display: inline-flex;
  padding: 0;
  margin-top: 12px;
  align-items: center;
  justify-content: center;
}

.authorField {
  margin-top: 10px;
}

.publishMapButton,
.updateMapButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  margin-top: 20px;
  font-family: 'MiniMOOD';
  font-size: 1.4em;

  & > span {
    display: inline-block;
    transform: translateY(5px);
  }

  & > img {
    margin-left: 20px;
  }

  &:hover {
    filter: brightness(1.1) contrast(1.2);
  }
}

.publishMapButton {
  background: #E1AA51;
  color: #3e464c;
}

.updateMapButton {
  background: #5d8bb3;
  color: #3e464c;
}
