
hr {
  border-color: #4e4f59;
  border-style: solid;
  margin: 20px 0;
}

p {
  display: block;
}

.editorOptionsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-right: 20px;
}

.form {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.error {
  color: #a40;
}

textarea {
  background: #4c4c4c;
  color: #eee;
  font-family: "Courier New", monospace;
}

.loadPaletteButton {
  margin-bottom: 20px;;
}

.selectPaletteContainer {
  position: relative;
}

.selectPaletteTitle {
  margin-top: 0;
  margin-bottom: 10px;
}

.closeButton {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  padding: 3px;
  box-sizing: content-box;
}

.paletteButton {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.paletteName {
  display: inline-block;
  min-width: 180px;
  padding: 0;
  margin: 0;
  transform: translateY(5px);
  font-family: 'MiniMOOD', 'VT323', monospace;
  font-size: 0.8em;
  text-align: left;
}

.paletteComponent {
  display: inline-block;
  width: 10px;
  height: 20px;
}

.buttonLoadLevel {
  margin-top: 10px;
}

.buttonPlay,
.buttonStop {
  display: inline-flex;
  padding: 0;
  margin-top: 12px;
  align-items: center;
  justify-content: center;
}

.authorField {
  margin-top: 10px;
}

.publishMapButton,
.updateMapButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  font-family: 'MiniMOOD';
  font-size: 1.4em;
  min-height: 52px;

  & > span {
    display: inline-block;
    transform: translateY(5px);
  }

  &.loading > span {
    opacity: 0.8;
  }

  & > img {
    margin-left: 20px;
  }

  &:hover {
    filter: brightness(1.1) contrast(1.2);
  }

  & .loader,
  & :global(.loader) {
    transform: none;
    margin: 0;
    opacity: 1!important;
  }
}

.publishMapButton {
  background: #E1AA51;
  color: #3e464c;
  text-shadow: -1px 3px 0px #00000054;
}

.updateMapButton {
  background: #5d8bb3;
  color: #3e464c;
  text-shadow: -1px 3px 0px #00000054;
}

.copyDevLinkButton {
  width: 100%;
  padding: 10px 30px;
}

.sharePreviewContainer {
  position: relative;
}

.sharePreviewButton {
  display: inline-flex;
  position: absolute;
  bottom: 14px;
  right: 7px;
  padding: 0;
  margin: 0;
}

.shareHeading {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0!important;
  margin: 0;
  font-family: 'MiniMOOD', 'VT323', monospace;
  font-size: 1.3em;
  color: #c6dbde;
  text-shadow: -1px 4px 1px black;

  & > span {
    transform: translateY(6px);
    margin-right: 10px;
  }
}

.socialContainer {
  display: inline-flex;
  padding: 12px 30px;
  border-radius: 4px;
  background: #3c4952;
  background: #2e3941;
}

.socialButton {
  display: inline-flex;
  box-shadow: none;
}

.socialEmptyMessage {
  display: flex;
  align-items: center;
  font-style: italic;
  color: #838e9a;

  & > span {
    margin-right: 20px;
  }

  & > img {
    filter: brightness(0.4) saturate(0.3);
  }
}
