<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./style.css">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monofett&family=VT323&display=swap" rel="stylesheet">

    <!-- social media embeds -->
    <meta property="og:title" content="SNEK" />
    <meta property="og:site_name" content="SNEK" />
    <meta property="og:type" content="game" />
    <meta property="og:description" content="The classic survival game, reimagined with 20+ levels and a bumpin' chiptune original soundtrack" />
    <meta property="og:url" content="https://townofdon.github.io/snek-js/" />
    <meta property="og:image" content="https://townofdon.github.io/snek-js/readme/promo-snek-card.png" />

    <meta name="twitter:title" content="SNEK">
    <meta name="twitter:description" content="The classic survival game, reimagined with 20+ levels and a bumpin' chiptune original soundtrack">
    <meta name="twitter:image" content="https://townofdon.github.io/snek-js/readme/promo-snek-card.png">
    <meta name="twitter:card" content="summary_large_image">

    <meta charset="utf-8" />
    <title>SNEK</title>

    <%= htmlWebpackPlugin
      .tags
      .headTags
      .filter((tag) => tag.attributes?.src?.includes('main.bundle'))
      .join('')
    %>
  </head>
  <body>
    <div class="center stretch">
      <main id="main">

        <div id="game" class="game">
          <canvas id="game-canvas" class="p5Canvas" style="width: 1200px; height: 1200px;" width="1200" height="1200"></canvas>
          <div id="main-title" class="main-title title-sprite-container">
            <span id="main-title-variant-grayblue" class="variant default">
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-s"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-n"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-e"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-k"></span></span>
            </span>
            <span id="main-title-variant-gray" class="variant gray">
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-s"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-n"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-e"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-k"></span></span>
            </span>
            <span id="main-title-variant-green" class="variant green">
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-s"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-n"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-e"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-k"></span></span>
            </span>
            <span id="main-title-variant-red" class="variant red">
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-s"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-n"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-e"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-k"></span></span>
            </span>
            <span id="main-title-variant-sand" class="variant sand">
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-s"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-n"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-e"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-k"></span></span>
            </span>
            <span id="main-title-variant-yellow" class="variant yellow">
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-s"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-n"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-e"></span></span>
              <span class="title-sprite"><span class="title-sprite-img sprite-snek-letter-k"></span></span>
            </span>
          </div>
          <div id="main-ui-buttons" class="main-ui-buttons">
            <button tabindex="0" id="ui-button-start" class="button-start-game">&gt;&gt; start game</button>
            <button tabindex="0" id="ui-button-ost-mode" class="button ui-sprite headphones"><span class="tooltip align-left">OST Mode</span></button>
            <button tabindex="0" id="ui-button-quote-mode" class="button ui-sprite quote"><span class="tooltip align-left">Quote Mode</span></button>
            <a href="https://townofdon.github.io/snek-js/community/" target="_blank" tabindex="0" id="ui-button-community" class="button ui-sprite community"><span class="tooltip align-right">Community</span></a>
            <button tabindex="0" id="ui-button-leaderboard" class="button ui-sprite trophy"><span class="tooltip align-right">Leaderboard</span></button>
            <button tabindex="0" id="ui-button-settings" class="button ui-sprite gear"><span class="tooltip align-right">Settings</span></button>
          </div>
          <div id="main-menu-label-casual-mode" class="main-menu-label-casual-mode">
            <span>
              Casual Mode
            </span>
          </div>
          <div id="main-menu-label-cobra-mode" class="main-menu-label-cobra-mode hidden">
            <span>
              Cobra Mode
            </span>
          </div>
        </div>

        <div id="settings-menu" class="settings-menu hidden">
          <div class="background"></div>
          <div class="content">
            <h2>Settings</h2>
            <section id="settings-section-gameplay">
              <h4>Gameplay</h4>
              <div id="field-casual-mode" class="field">
                <div>
                  <label class="checkbox-label" tabindex="0">
                    <input type="checkbox" id="checkbox-casual-mode" name="casual-mode" />
                    <span class="checkmark"></span>
                    Enable casual mode
                  </label>
                </div>
                <span class="caption">Adds invincibility and move rewinding, but disables scoring</span>
              </div>
              <div id="field-cobra-mode" class="field hidden">
                <div>
                  <label class="checkbox-label" tabindex="0" id="label-cobra-mode">
                    <input type="checkbox" id="checkbox-cobra-mode" name="cobra-mode" />
                    <span class="checkmark"></span>
                    Enable COBRA mode
                  </label>
                </div>
                <span class="caption">Death = game over, hearts do not replenish</span>
              </div>
              <div class="field">
                <div>
                  <label class="checkbox-label" tabindex="0">
                    <input type="checkbox" id="checkbox-disable-screenshake" name="disable-screenshake" />
                    <span class="checkmark"></span>
                    Disable Screen Shake
                  </label>
                </div>
                <!-- <span class="caption">Adds invincibility and move rewinding, but disables scoring</span> -->
              </div>
            </section>
            <section id="settings-section-audio">
              <h4>Audio</h4>
              <div class="field">
                <div>
                  <input type="range" id="slider-volume-music" name="volume-music" min="0" max="1" step="0.1" value="1" />
                  <label for="slider-volume-music">Music</label>
                </div>
              </div>
              <div class="field">
                <div>
                  <input type="range" id="slider-volume-sfx" name="volume-sfx" min="0" max="1" step="0.1" value="1" />
                  <label for="slider-volume-sfx">SFX</label>
                </div>
              </div>
            </section>
            <br/>
            <button id="settings-menu-close-button" class="button">close</button>
          </div>
        </div>

        <div id="select-game-mode-menu" class="settings-menu hidden">
          <div class="background blur"></div>
          <div class="content gap">
            <h2>Game Mode</h2>
            <button id="button-game-mode-campaign" class="button game-mode campaign">campaign</button>
            <button id="button-game-mode-level-select" class="button game-mode level-select">level select</button>
            <button id="button-game-mode-randomizer" class="button game-mode randomizer">randomizer</button>
            <button id="button-game-mode-back" class="button game-mode back">&lt;- back</button>
          </div>
        </div>

        <div id="start-screen" class="start-screen" style="width: 1200px; height: 1200px;" width="1200" height="1200">
          <img alt="SNEK" class="start-screen-title" src="assets/graphics/snek-title-red-sm.png" width="768" height="256" />
          <button id="start-screen-start-button" class="start">start game</button>
          <p class="press-enter"><span>[ PRESS ENTER ]</span></p>
        </div>

        <div id="modal-highscore-entry" class="modal hidden">
          <form id="form-highscore-entry" action="javascript:void(0);" autocomplete="off">
            <h2 class="center">High Score Earned!</h2>
            <p class="center"><strong><label for="input-highscore-name">ENTER SNEK CHAMPION NAME</label></strong></p>
            <div class="center">
              <input type="text" id="input-highscore-name" name="input-highscore-name" maxlength="20" autocomplete="off" pattern="^([A-Za-z0-9_-]|\s)+$"  />
            </div>
            <p class="minimood center">[Enter] To Submit</p>
            <p class="center hidden">
              <button type="submit" class="button">SUBMIT</button>
            </p>
          </form>
        </div>

        <div id="modal" class="modal hidden">
          <form id="modal-form" action="javascript:void(0);">
            <h2 id="modal-title" class="center">CONFIRM</h2>
            <p id="modal-message" class="minimood">&lt;Modal Title&gt;</p>
            <p class="center buttons">
              <button id="modal-button-no" class="button" type="submit" value="no">NO</button>
              <button id="modal-button-yes" class="button" type="submit" value="yes">YES</button>
            </p>
          </form>
        </div>

        <div id="level-select-menu" class="settings-menu level-select-menu hidden">
          <div class="background blur"></div>
          <div class="content">
            <h2 class="center">Level Select</h2>
            <h3 class="center level-name">
              <span class="transform-flip-x"><img src="assets/graphics/editor-play.png" width="32" height="32" /></span>
              <span id="level-select-map-number" class="num">01</span>
              <span id="level-select-map-name" class="name">Snekadia</span>
              <span><img src="assets/graphics/editor-play.png" width="32" height="32" /></span>
            </h3>
            <div id="level-select-levels" class="levels">
              <button id="select-level-snekadia" class="select-level" data-level="1">
                <div class="completion-status">
                  <div class="medium"></div>
                  <div class="hard"></div>
                  <div class="ultra"></div>
                </div>
                <img alt="Select level snekadia" src="assets/graphics/level-preview/snekadia.jpg" width="150" height="150" />
              </button>
              <button id="select-level-plaza" class="select-level" data-level="2">
                <img alt="Select level plaza" src="assets/graphics/level-preview/plaza.jpg" width="150" height="150" />
              </button>
              <button id="select-level-metro" class="select-level" data-level="3">
                <img alt="Select level metro" src="assets/graphics/level-preview/metro.jpg" width="150" height="150" />
              </button>
              <button id="select-level-turnaround" class="select-level" data-level="110">
                <img alt="Select level turnaround" src="assets/graphics/level-preview/turnaround.jpg" width="150" height="150" />
              </button>
              <button id="select-level-facility" class="select-level" data-level="4">
                <img alt="Select level facility" src="assets/graphics/level-preview/facility.jpg" width="150" height="150" />
              </button>
              <button id="select-level-panopticon" class="select-level" data-level="5">
                <img alt="Select level panopticon" src="assets/graphics/level-preview/panopticon.jpg" width="150" height="150" />
              </button>
              <button id="select-level-lobby" class="select-level" data-level="6">
                <img alt="Select level lobby" src="assets/graphics/level-preview/lobby.jpg" width="150" height="150" />
              </button>
              <button id="select-level-factory-floor" class="select-level" data-level="7">
                <img alt="Select level factory-floor" src="assets/graphics/level-preview/factory-floor.jpg" width="150" height="150" />
              </button>
              <button id="select-level-courtyard" class="select-level" data-level="8">
                <img alt="Select level courtyard" src="assets/graphics/level-preview/courtyard.jpg" width="150" height="150" />
              </button>
              <button id="select-level-labyrinth" class="select-level" data-level="9">
                <img alt="Select level labyrinth" src="assets/graphics/level-preview/labyrinth.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-factor" class="select-level" data-level="10">
                <img alt="Select level x-factor" src="assets/graphics/level-preview/x-factor.jpg" width="150" height="150" />
              </button>
              <button id="select-level-turnonadime" class="select-level" data-level="120">
                <img alt="Select level turnonadime" src="assets/graphics/level-preview/turnonadime.jpg" width="150" height="150" />
              </button>
              <button id="select-level-sneksqueeze" class="select-level" data-level="11">
                <img alt="Select level sneksqueeze" src="assets/graphics/level-preview/sneksqueeze.jpg" width="150" height="150" />
              </button>
              <button id="select-level-boxed" class="select-level" data-level="12">
                <img alt="Select level boxed" src="assets/graphics/level-preview/boxed.jpg" width="150" height="150" />
              </button>
              <button id="select-level-portal" class="select-level" data-level="130">
                <img alt="Select level portal" src="assets/graphics/level-preview/portal.jpg" width="150" height="150" />
              </button>
              <button id="select-level-sci-lab" class="select-level" data-level="13">
                <img alt="Select level sci-lab" src="assets/graphics/level-preview/sci-lab.jpg" width="150" height="150" />
              </button>
              <button id="select-level-test-chamber" class="select-level" data-level="14">
                <img alt="Select level test-chamber" src="assets/graphics/level-preview/test-chamber.jpg" width="150" height="150" />
              </button>
              <button id="select-level-quantum-mirror" class="select-level" data-level="15">
                <img alt="Select level quantum-mirror" src="assets/graphics/level-preview/quantum-mirror.jpg" width="150" height="150" />
              </button>
              <button id="select-level-gatekeeper" class="select-level" data-level="140">
                <img alt="Select level gatekeeper" src="assets/graphics/level-preview/gatekeeper.jpg" width="150" height="150" />
              </button>
              <button id="select-level-bait-switch" class="select-level" data-level="16">
                <img alt="Select level bait-&-switch" src="assets/graphics/level-preview/bait-switch.jpg" width="150" height="150" />
              </button>
              <button id="select-level-ruins" class="select-level" data-level="17">
                <img alt="Select level ruins" src="assets/graphics/level-preview/ruins.jpg" width="150" height="150" />
              </button>
              <button id="select-level-computer-room" class="select-level" data-level="18">
                <img alt="Select level computer-room" src="assets/graphics/level-preview/computer-room.jpg" width="150" height="150" />
              </button>
              <button id="select-level-escada" class="select-level" data-level="19">
                <img alt="Select level escada" src="assets/graphics/level-preview/escada.jpg" width="150" height="150" />
              </button>
              <button id="select-level-survive" class="select-level" data-level="99">
                <img alt="Select level survive" src="assets/graphics/level-preview/survive.jpg" width="150" height="150" />
              </button>


              <button id="select-level-metroteque" class="select-level" data-level="203">
                <img alt="Select level metroteque" src="assets/graphics/level-preview/metroteque.jpg" width="150" height="150" />
              </button>
              <button id="select-level-the-diamond" class="select-level" data-level="205">
                <img alt="Select level the-diamond" src="assets/graphics/level-preview/the-diamond.jpg" width="150" height="150" />
              </button>
              <button id="select-level-factory-subfloor" class="select-level" data-level="207">
                <img alt="Select level factory-subfloor" src="assets/graphics/level-preview/factory-subfloor.jpg" width="150" height="150" />
              </button>
              <button id="select-level-boneyard" class="select-level" data-level="208">
                <img alt="Select level boneyard" src="assets/graphics/level-preview/boneyard.jpg" width="150" height="150" />
              </button>
              <button id="select-level-security-station" class="select-level" data-level="210">
                <img alt="Select level security-station" src="assets/graphics/level-preview/security-station.jpg" width="150" height="150" />
              </button>
              <button id="select-level-phased-reality" class="select-level" data-level="215">
                <img alt="Select level phased-reality" src="assets/graphics/level-preview/phased-reality.jpg" width="150" height="150" />
              </button>
              <button id="select-level-endurance" class="select-level" data-level="299">
                <img alt="Select level endurance" src="assets/graphics/level-preview/endurance.jpg" width="150" height="150" />
              </button>

              <button id="select-level-secret-area-1-1" class="select-level" data-level="310">
                <img alt="Select level secret-area-1-1" src="assets/graphics/level-preview/secret-area-1-1.jpg" width="150" height="150" />
              </button>
              <button id="select-level-secret-area-5-1" class="select-level" data-level="321">
                <img alt="Select level secret-area-5-1" src="assets/graphics/level-preview/secret-area-5-1.jpg" width="150" height="150" />
              </button>
              <button id="select-level-secret-area-5-2" class="select-level" data-level="320">
                <img alt="Select level secret-area-5-2" src="assets/graphics/level-preview/secret-area-5-2.jpg" width="150" height="150" />
              </button>

              <button id="select-level-x-snekcity" class="select-level" data-level="417">
                <img alt="Select level x-snekcity" src="assets/graphics/level-preview/snekcity.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-acropolis" class="select-level" data-level="401">
                <img alt="Select level x-acropolis" src="assets/graphics/level-preview/acropolis.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-beacons" class="select-level" data-level="402">
                <img alt="Select level x-beacons" src="assets/graphics/level-preview/beacons.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-casa" class="select-level" data-level="403">
                <img alt="Select level x-casa" src="assets/graphics/level-preview/casa.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-catacombs" class="select-level" data-level="404">
                <img alt="Select level x-catacombs" src="assets/graphics/level-preview/catacombs.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-fortitude" class="select-level" data-level="405">
                <img alt="Select level x-fortitude" src="assets/graphics/level-preview/fortitude.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-guardian" class="select-level" data-level="406">
                <img alt="Select level x-guardian" src="assets/graphics/level-preview/guardian.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-kings-hall" class="select-level" data-level="407">
                <img alt="Select level x-kings-hall" src="assets/graphics/level-preview/kings-hall.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-last-rites" class="select-level" data-level="409">
                <img alt="Select level x-last-rites" src="assets/graphics/level-preview/last-rites.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-makeitoutalive" class="select-level" data-level="410">
                <img alt="Select level x-makeitoutalive" src="assets/graphics/level-preview/makeitoutalive.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-quantum-entanglement" class="select-level" data-level="411">
                <img alt="Select level x-quantum-entanglement" src="assets/graphics/level-preview/quantum-entanglement.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-skillcheck" class="select-level" data-level="412">
                <img alt="Select level x-skillcheck" src="assets/graphics/level-preview/skillcheck.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-stonemaze" class="select-level" data-level="408">
                <img alt="Select level x-stonemaze" src="assets/graphics/level-preview/stonemaze.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-toosimple" class="select-level" data-level="413">
                <img alt="Select level x-toosimple" src="assets/graphics/level-preview/toosimple.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-underground" class="select-level" data-level="414">
                <img alt="Select level x-underground" src="assets/graphics/level-preview/underground.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-unwind" class="select-level" data-level="415">
                <img alt="Select level x-unwind" src="assets/graphics/level-preview/unwind.jpg" width="150" height="150" />
              </button>
              <button id="select-level-x-gauntlet" class="select-level" data-level="416">
                <img alt="Select level x-gauntlet" src="assets/graphics/level-preview/gauntlet.jpg" width="150" height="150" />
              </button>
            </div>
          </div>
        </div>

        <div id="loader" class="loader-container hidden"><span class="loader"></span></div>
      </main>
    </div>
  </body>
</html>
