:root {
  --hover-distance: 10px;
  --hover-duration: 3s;

  --title-sprite-img-grayblue: url('assets/graphics/snek-title-grayblue.png');
  --title-sprite-img-gray: url('assets/graphics/snek-title-gray.png');
  --title-sprite-img-green: url('assets/graphics/snek-title-green.png');
  --title-sprite-img-red: url('assets/graphics/snek-title-red.png');
  --title-sprite-img-sand: url('assets/graphics/snek-title-sand.png');
  --title-sprite-img-yellow: url('assets/graphics/snek-title-yellow.png');
  --title-sprite-background-size: 640px 640px;
  --title-sprite-width: 100px;
  --title-sprite-height: 100px;
}

@font-face {
  font-family: MiniMOOD2;
  src: url(src/assets/MiniMOOD.ttf);
}

@font-face {
  font-family: MiniMOOD;
  src: url(snek-js/src/assets/MiniMOOD.ttf),
    local(MiniMOOD2);
}

html, body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

html {
  background: #030303;
  background: #181A1B
}

body {
  background: transparent;
}

canvas {
  display: block;
  cursor: crosshair;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stretch {
  width: 100%;
  height: 100%;
}

main {
  position: relative;
}

main div {
  cursor: crosshair
}

.minimood {
  font-family: 'MiniMOOD', 'VT323', monospace;
}

p {
  font-family: 'VT323', monospace;
  text-shadow: 0px 3px 3px black;
}

@keyframes anim-hover {
  0%   { transform: translate(0, var(--hover-distance)); }
  50%  { transform: translate(0, calc(var(--hover-distance) * -1)); }
  100% { transform: translate(0, var(--hover-distance)); }
}

@keyframes anim-dim {
  0%   { filter: var(--button-filter, brightness(1) grayscale(0.1)); }
  50%  { filter: var(--button-filter, brightness(.2) grayscale(0.7)); }
  100% { filter: var(--button-filter, brightness(1) grayscale(0.1)); }
}

.main-title > .variant > span {
  display: inline-block;
  animation-name: anim-hover;
  animation-duration: var(--hover-duration);
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,0,.5,1);
  animation-fill-mode: backwards;
}

.main-title > .variant > span:nth-child(1) {
  animation-delay: 0s;
}

.main-title > .variant > span:nth-child(2) {
  animation-delay: .4s;
}

.main-title > .variant > span:nth-child(3) {
  animation-delay: .8s;
}

.main-title > .variant > span:nth-child(4) {
  animation-delay: 1.2s;
}

button {
  padding: 5px 20px;
  border-radius: 10px;
  background: #cdeaff;
  color: #111;
  border: none;
  box-shadow: 0px 3px 2px 2px black;
  font-family: 'VT323', monospace;
  font-size: 1.2em;
  cursor: pointer;
}

button.difficulty {
  animation-name: anim-dim;
  animation-duration: var(--hover-duration);
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,0,.5,1);
  animation-fill-mode: backwards;
}

button.difficulty:hover,
button.difficulty:active,
button.difficulty:focus,
button.difficulty.selected {
  --button-filter: brightness(1) grayscale(0.1);
}

button:hover,
button:active,
button:focus
{
  background-color: #dbcf7a;
  color: #3b4719;
}

button.easy {
  animation-delay: calc(var(--hover-duration) * 0);
}

button.medium {
  animation-delay: calc(var(--hover-duration) * 0.1);
}

button.hard {
  animation-delay: calc(var(--hover-duration) * 0.2);
}

button.ultra {
  animation-delay: calc(var(--hover-duration) * 0.3);
  background: #111;
  color: #cdeaff;
  border: solid 1px #cdeaff;
}

button.ultra:hover,
button.ultra:active,
button.ultra:focus {
  background: #0a503e;
  color: #00ff62;
}

.title-sprite-container {
  z-index: 10;
  position: absolute;
  top: 90px;
  width: 100%;
  display: block;
}

.title-sprite-container .variant {
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-sprite {
  user-select: none;
  display: inline-block;
  padding: 12px;
}

.title-sprite-img {
  user-select: none;
  display:inline-block;
  background-image: var(--title-sprite-img-grayblue);
  background-size: var(--title-sprite-background-size);
  width: var(--title-sprite-width);
  height: var(--title-sprite-height);
}

.title-sprite-container .variant.default { opacity: 1; }
.title-sprite-container .variant.gray { opacity: 0; }
.title-sprite-container .variant.green { opacity: 0 }
.title-sprite-container .variant.red { opacity: 0 }
.title-sprite-container .variant.sand { opacity: 0 }
.title-sprite-container .variant.yellow { opacity: 0 }

.title-sprite-container .variant.default .title-sprite-img { background-image: var(--title-sprite-img-grayblue); }
.title-sprite-container .variant.gray .title-sprite-img { background-image: var(--title-sprite-img-gray); }
.title-sprite-container .variant.green .title-sprite-img { background-image: var(--title-sprite-img-green); }
.title-sprite-container .variant.red .title-sprite-img { background-image: var(--title-sprite-img-red); }
.title-sprite-container .variant.sand .title-sprite-img { background-image: var(--title-sprite-img-sand); }
.title-sprite-container .variant.yellow .title-sprite-img { background-image: var(--title-sprite-img-yellow); }

/* positioning: 1) open file in aseprite, 2) downsize by half, 3) get top-left corner of each letter */
.sprite-snek-letter-s { background-position: -100px -260px; }
.sprite-snek-letter-n { background-position: -214px -260px; }
.sprite-snek-letter-e { background-position: -326px -260px; }
.sprite-snek-letter-k { background-position: -440px -260px; }
