@font-face {
  font-family: MiniMOOD2;
  src: url(src/assets/MiniMOOD.ttf);
}

@font-face {
  font-family: MiniMOOD;
  src: url(snek-js/src/assets/MiniMOOD.ttf),
    local(MiniMOOD2);
}

html, body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

html {
  background: #030303;
}

body {
  padding-top: 20px;
  background: transparent;
}

canvas {
  display: block;
  cursor: crosshair;
}

.center {
  display: flex;
  justify-content: center;
}

main {
  position: relative;
}

main div {
  cursor: crosshair
}

p {
  font-family: 'VT323', monospace;
  text-shadow: 0px 3px 3px black;
}

button {
  padding: 5px 20px;
  border-radius: 10px;
  background: #cdeaff;
  color: #111;
  border: none;
  box-shadow: 0px 3px 2px 2px black;
  font-family: 'VT323', monospace;
  font-size: 1.2em;
}

button:hover,
button:active,
button:focus
{
  background-color: #dbd57a;
}
