
.fieldContainer {
  display: block;
  margin-bottom: 20px;
}

.label {
  display: block;
  color: #cfcfcf;
}

.input {
  width: auto;
  border: none;
  padding: 3px 6px;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'BIOSfontII', 'VT323', monospace;
  font-family: "Courier New", monospace;
  background: #eee;
  background: #c0cdd3;
  color: #333;

  &.fullWidth {
    width: 100%;
  }
}

input[type="range"] {
  width: auto;
}

.fullWidth {
  width: 100%;
}

.colorInputContainer {
  position: relative;
  display: inline-block;
}

.colorPicker {
  position: absolute !important;
  left: 100%;
  top: -8px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid white;
  box-shadow: -2px 2px 6px 2px black;
  z-index: 20;
}

.colorInput {
  display: block;
  padding-left: 22px;
  padding-top: 4px;
  width: 120px;
}

.colorInputHash {
  display: inline-block;
  position: absolute;
  left: 0px;
  height: 100%;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  box-sizing: border-box;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-family: "VT323", monospace;
  font-family: "Courier New", monospace;
  font-size: 1.1em;
  font-weight: 900;
  color: #79868f;
  background: #a6b7c3;
}

.colorInputPreview {
  display: inline-block;
  position: absolute;
  right: 0px;
  height: 100%;
  width: 20px;
  box-sizing: content-box;
  background: #000;
  border: none;
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    border: 2px solid #fff;
    z-index: 5;
  }
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background: transparent;
    border: 2px solid #000;
    z-index: 10;
  }
}




.sliderManualInput {
  width: 100px;
}

.toggleLabel {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #cfcfcf;
}

.toggleLabelText {
  margin-left: 10px;
}



input:focus-visible,
button:focus-visible {
  outline: 2px solid white;
}

input[type="range"].range {
	color: #ddd;
  --active-track-color: #567d9d;
}

input[type="range"].range:hover::-webkit-slider-thumb,
input[type="range"].range:focus::-webkit-slider-thumb,
input[type="range"].range:active::-webkit-slider-thumb {
	/* filter: brightness(var(--brightness-hover)); */
  color: var(--active-track-color);
	cursor: grab;
}
