:global(.react-select__control) {
  min-width: 230px;
}

:global(.react-select__menu) {
  --dropdown-bg: #c0cdd3;
  --dropdown-bg: #e2ebf0;
  --menu-bg: #333;
  --menu-fg: #ddd;
  --hover-bg: #f2f9fc;
  --active-fg: #47a795;
  --active-bg: #e2ebf0;
  --focus-fg: #f2f9fc;
  --focus-bg: #444;

  background-color: var(--menu-bg)!important;
  color: var(--menu-fg);

  & :global(.react-select__option) {
    color: var(--menu-fg);
  }
  
  & :global(.react-select__option--is-focused) {
    background-color: var(--focus-bg);
    color: var(--focus-fg);
  }

  & :global(.react-select__option--is-selected) {
    background-color: var(--active-bg);
    color: var(--active-fg);
  }
}
