<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SNEK CUSTOM LEVEL</title>

  <%= htmlWebpackPlugin
    .tags
    .headTags
    .filter((tag) => tag.attributes?.src?.includes('player.bundle'))
    .join('')
  %>
</head>
<body>
  <h1>
    Hello World
  </h1>
</body>
</html>